<h3 id="doc_messagerie" class="mt-5">Compte de messagerie</h3>

<h4 class="pl-3 mt-4">Configurer la boite mail sur un iPhone ou un Mac</h4>
<p class="pl-5">
    <a target="_blank" href="https://support.apple.com/fr-fr/HT201320" class="text-underline"><i class="fas fa-link mr-1"></i>Apple - Configurer un nouveau compte de messagerie</a>
    <br>
    Pour ajouter votre compte de messagerie @co2services.fr sur votre appareil mobile, renseignez les informations suivantes : <br>
    <br>
    Nom d'utilisateur : toto@co2services.fr <em>(votre adresse mail)</em><br>
    Mot de passe : <em>Utilisez le mot de passe du compte de messagerie.</em><br>
    Serveur entrant (IMAP) : mail.co2services.fr<br>
    Port IMAP : 993<br>
    Serveur sortant (SMTP) : mail.co2services.fr<br>
    Port SMTP : 465<br>
</p>

<hr>