<nav id="sidebar" class="border-right">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h5 class="font-weight-normal text-center">Documentation</h5>
    </div>

    {#            <!-- Sidebar Links -->#}
    {#            <ul class="list-unstyled components">#}
    {#                <li class="active"><a href="#">Home</a></li>#}
    {#                <li><a href="#">About</a></li>#}
    {#                <li><!-- Link with dropdown items -->#}
    {#                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>#}
    {#                    <ul class="collapse list-unstyled" id="homeSubmenu">#}
    {#                        <li><a href="#">Page</a></li>#}
    {#                        <li><a href="#">Page</a></li>#}
    {#                        <li><a href="#">Page</a></li>#}
    {#                    </ul>#}
    {#                <li><a href="#">Portfolio</a></li>#}
    {#                <li><a href="#">Contact</a></li>#}
    {#            </ul>#}

    <ul class="nav nav-pills d-flex w-100 flex-column justify-content-start ">

        {#        <li class="nav-item mr-0">#}
        {#            <a class="nav-link" href="#doc_tableauBord">Tableau de bord</a>#}
        {#        </li>#}
        <li class="nav-item mr-0">
            <a class="nav-link " href="#doc_messagerie">Compte de messagerie</a>
        </li>

        <li class="nav-item mr-0">
            <a class="nav-link " href="#doc_stats_activites">Statuts des activités</a>
        </li>

    </ul>
</nav>