<h3 id="doc_reglages__departements_livraisons" class="mt-5">Départements de livraisons</h3>

<p class="pl-3">
    Les départements de livraison servent principalement à la facturation des livraisons. Une livraison est facturée en fonction des départements qu'elle traverse. Ils doivent-être créés avant les tarifs de livraison.
</p>

<h4 class="pl-3 mt-4" id="doc_reglages__departements_livraisons__new">Créer un département de livraison</h4>
<p class="pl-5">
    Dans l'onglet réglages puis &laquo; Département de livraisons &raquo;, cliquez sur
    <button class="btn btn-outline-success btn-sm">Nouveau</button>
    <br>
    Saisissez le nom du département. La case disponible sert à afficher le département ou non dans la liste des départements lors de la création d'une livraison.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .
</p>

<h4 class="pl-3 mt-4" id="doc_reglages__departements_livraisons__edit">Modifier un département de livraison</h4>
<p class="pl-5">
    Dans l'onglet réglages puis &laquo; Départements de livraisons &raquo;, cliquez sur le département de livraison que vous souhaitez modifier.<br>
    Modifiez les informations que vous souhaitez.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .
</p>

<h4 class="pl-3 mt-4" id="doc_reglages__departements_livraisons__delete">Supprimer un département de livraison</h4>
<p class="pl-5">
    Dans l'onglet réglages puis &laquo; Départements de livraisons &raquo;, cliquez sur le département de livraison que vous souhaitez supprimer.<br>
    Cliquez sur le bouton
    <button class="btn btn-danger btn-sm">Supprimer</button>
    .<br>
    Si ce département est déjà lié à une livraison, un message apparaîtra vous indiquant qu'il est impossible de le supprimer. Privilégiez alors de le rendre indisponible (voir la <a href="#doc_reglages__departements_livraisons__edit" class="text-underline">modification</a>)

</p>

<hr>