<h3 id="doc_reglages__enseignes" class="mt-5">Enseignes</h3>

<p class="pl-3">
    Les enseignes sont rattachées à des activités. Vous pouvez en créer, et en modifier. La suppression d'enseigne n'est pas possible afin de préserver l'intégriter des données (vu qu'une activité est liée à une enseigne).
</p>

<h4 class="pl-3 mt-4" id="doc_charges_affaires__new">Créer une enseigne</h4>
<p class="pl-5">
    Dans l'onglet réglages puis &laquo; Enseignes &raquo;, dans la liste des enseignes, cliquez sur
    <button class="btn btn-outline-success btn-sm">Nouvelle enseigne</button>
    <br>
    Saisissez le nom de la nouvelle enseigne. L'adresse est facultatif. Si une adresse est renseignée, le champs &laquo; adresse départ/arrivée &raquo; dans les livraisons sera automatiquement remplit par celle de l'enseigne sélectionnée.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .
</p>

<h4 class="pl-3 mt-4" id="doc_charges_affaires__edit">Modifier une enseigne</h4>
<p class="pl-5">
    Dans l'onglet réglages puis &laquo; Enseignes &raquo;, dans la liste des enseignes, cliquez sur l'enseigne à modifier. Vous arrivez alors sur la fiche de modification de l'enseigne.<br>
    Cliquez sur
    <button class="btn btn-outline-warning btn-sm">Modifier</button>
    . Modifiez les informations que vous souhaitez.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .
</p>

<hr>