<h3 id="doc_reglages__envoi_sms" class="mt-5">Envois de SMS</h3>

<p class="pl-3">
    Des SMS s'envoient aux techniciens lorsqu'ils sont affectés à une activité. Cette option est désactivable/activable.
</p>

<h4 class="pl-3 mt-4" id="doc_reglages__envoi_sms__activer">Activer/désactiver l'envoi de SMS</h4>
<p class="pl-5">
    Dans l'onglet réglages puis &laquo; Paramètres &raquo;, cliquez sur la ligne &laquo; Envoi de SMS &raquo;<br>
    Cochez la case &laquo; Oui &raquo; pour activer les envois de SMS,<br>
    Cochez la case &laquo; Non &raquo; pour désactiver les envois de SMS,<br>
    Sélectionnez le département de départ et le département d'arrivé puis renseignez le tarif pour ce trajet.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .<br>

</p>

<h4 class="pl-3 mt-4" id="doc_reglages__envoi_sms__solde">Solde de SMS restant</h4>
<p class="pl-5">
    Dans <a href="#doc_reglages__envoi_sms__activer" class="text-underline">l'activation/désactivation de l'envoi de SMS</a>, vous avez également un visuel sur le solde restant de SMS.<br>
    Le solde peut avoir plusieurs couleurs :
</p>
<ul class="ml-5 list-style-type-square">
    <li>Rouge : solde restant 0</li>
    <li>Orange : solde restant < 20</li>
    <li>Noir : solde restant > 20</li>
</ul>
<p class="pl-5">
    Pour recharger le solde de SMS, rendez-vous sur ce <a href="https://www.lws.fr/envoyer-sms-par-internet.php" class="text-underline" target="_blank">lien</a>.<br>
    Choisissez le montant de SMS que vous souhaitez. (0,08€ le SMS le 12/06/2020).<br>
    Après avoir cliqué sur &laquo; COMMANDER &raquo;, il ne vous restera plus qu'à procéder au paiement. A la question &laquo; Etes-vous déjà client LWS ? &raquo;, cochez &laquo; oui &raquo; et renseignez vos identifiants LWS.
</p>

<hr>