<h3 id="doc_reglages__forfait_retour_bouteille" class="mt-5">Forfait de retour bouteilles</h3>

<p class="pl-3">
    Le forfait de retour bouteilles permet de facturer toutes les bouteilles retournées par les techniciens. Peu importe le nombre de bouteille dans la facture, le montant initiale sera ce tarif.<br>
    La modification de ce tarif ne changera pas les montants des factures déjà existantes.
</p>

<h4 class="pl-3 mt-4" id="doc_reglages__forfait_retour_bouteille__edit">Modifier le montant du forfait</h4>
<p class="pl-5">
    Dans l'onglet réglages puis &laquo; Paramètres &raquo;, cliquez sur la ligne &laquo; Tarif forfaitaire des retours des bouteilles &raquo;.<br>
    Saisissez le montant désiré et cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .
</p>


<hr>