<h3 id="doc_reglages__niveaux_techniciens" class="mt-5">Niveaux de techniciens</h3>

<p class="pl-3">
    Un niveau de technicien contient un tarif horaire. Ce tarif horaire permet de facturer à l'heure les dépannages, les entretiens et les travaux.
</p>

<h4 class="pl-3 mt-4" id="doc_charges_affaires__new">Créer un niveau de technicien</h4>
<p class="pl-5">
    Dans l'onglet réglages puis &laquo; Niveau de technicien &raquo;, cliquez sur
    <button class="btn btn-outline-success btn-sm">Nouveau niveau technicien</button>
    <br>
    Saisissez le nom du niveau de technicien ainsi que le tarif horaire.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .
</p>

<h4 class="pl-3 mt-4" id="doc_charges_affaires__edit">Modifier un niveau de technicien</h4>
<p class="pl-5">
    Dans l'onglet réglages puis &laquo; Niveau de technicien &raquo;,
    Cliquez sur le niveau que vous souhaitez modifier. Vous arrivez alors sur le détail avec en dessous, la liste des techniciens qui possèdent ce niveau. Pour le modifier, cliquez sur
    <button class="btn btn-outline-warning btn-sm">Modifier</button>
    . Modifiez les informations que vous souhaitez.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .<br>
    La modification des tarifs horaires ne modifie pas les calculs déjà effectués dans les factures.
</p>

<hr>