<h3 id="doc_reglages__tarifs_livraisons" class="mt-5">Tarifs de livraisons</h3>

<p class="pl-3">
    Les tarifs de livraison permettent de facturer les livraisons par départements.
</p>

<h4 class="pl-3 mt-4" id="doc_charges_affaires__new">Créer un tarif de livraison</h4>
<p class="pl-5">
    Dans l'onglet réglages puis &laquo; Tarifs de livraisons &raquo;, cliquez sur
    <button class="btn btn-outline-success btn-sm">Nouveau tarif</button>
    <br>
    Sélectionnez le département de départ et le département d'arrivé puis renseignez le tarif pour ce trajet.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .<br>
    Cette saisie va dans les deux sens. Cela ne sert à rien de saisir le trajet inverse, celui-ci se mettra à jour et vice versa.
</p>

<h4 class="pl-3 mt-4" id="doc_charges_affaires__edit">Modifier un tarif de livraison</h4>
<p class="pl-5">
    Dans l'onglet réglages puis &laquo; Tarifs de livraisons &raquo;, cliquez sur le tarif de livraison que vous souhaitez modifier.<br>
    Modifiez les informations que vous souhaitez.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .<br>
    Cette saisie va dans les deux sens. Cela ne sert à rien de saisir le trajet inverse, celui-ci se mettra à jour et vice versa.

</p>

<hr>