<h3 id="doc_stats_activites" class="mt-5">Statuts des activités</h3>

<p class="pl-3">
    Les activités ont plusieurs statuts. Voici les différentes étapes : <br>
</p>

<ul class="ml-3 list-style-type-square">
    <li class="mb-2">En attente : Le chargé d'affaires (ou l'administrateur) vient de créer une activité.</li>
    <li class="mb-2">Validée : L'administrateur a affecté au moins un technicien à l'activité.</li>
    <li class="mb-2">En cours : Un premier horaire a été saisie (ou la livraison a commencée).<br>Les techniciens et l'administrateur peuvent y mettre des fichiers.<br>Les techniciens peuvent remplir des fiches via des formulaires (uniquement pour les entretiens et les dépannages). L'administrateur peut seulement modifier ces fiches.<br>L'activité ne peut plus être annulée.</li>
    <li class="mb-2">Terminée : L'administrateur a cliqué sur "Clôturer" dans le détail de l'activité (ou la livraison a été livrée).<br>Les techniciens ne peuvent plus saisir d'horaires ni de documents.<br>L'administrateur le peut encore.</li>
    <li class="mb-2">Facturée : L'administrateur a sélectionné l'activité dans une nouvelle facture.<br>L'activité ne peut donc plus être modifiée.<br>Les documents ne peuvent plus être modifiés.</li>
</ul>

<hr>