<h3 id="doc_charges_affaires" class="mt-5">Chargés d'affaires</h3>

<p class="pl-3">
    La gestion des chargés d'affaires d'un client se fait à partir de l'onglet &laquo; Chargés d'affaires &raquo; dans le <a href="#doc_client__dossier_client" class="text-underline">dossier du client</a>.<br>
</p>

<h4 class="pl-3 mt-4" id="doc_charges_affaires__new">Créer un chargé d'affaires</h4>
<p class="pl-5">
    Dans la liste des chargés d'affaires d'un client, cliquez sur
    <button class="btn btn-outline-success btn-sm">Nouveau chargé d'affaires</button>
    <br>
    Saisissez les informations du nouveau chargé d'affaires. L'email pro doit être unique dans tout le site de gestion (Email de connexion). Les enseignes sélectionnées sont celles qui seront visibles par le chargé d'affaires.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    . Le nouveau chargé d'affaires recevra un email (à l'email pro saisie) pour lui informer de la création de son compte et également définir son mot de passe.
</p>

<h4 class="pl-3 mt-4" id="doc_charges_affaires__edit">Modifier un chargé d'affaires</h4>
<p class="pl-5">
    Dans la liste des chargés d'affaires d'un client, cliquez sur le chargé d'affaires à modifier. Vous arrivez alors sur la fiche du chargé d'affaires.<br>
    Cliquez sur
    <button class="btn btn-outline-warning btn-sm">Modifier</button>
    . Modifiez les informations que vous souhaitez.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .
</p>

<h4 class="pl-3 mt-4" id="doc_charges_affaires__edit">Désactiver le compte d'un chargé d'affaires</h4>
<p class="pl-5">
    Vous pouvez choisir de restreindre la connexion d'un chargé d'affaires. Il ne pourra plus se connecter.<br>
    <br>
    Dans la liste des chargés d'affaires d'un client, cliquez sur le chargé d'affaires à modifier. Vous arrivez alors sur la fiche du chargé d'affaires.<br>
    Cliquez sur
    <button class="btn btn-outline-warning btn-sm">Modifier</button>
    . Décochez la case &laquo; compte actif &raquo;.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .
</p>

<hr>