<h3 id="doc_client" class="mt-5">Clients</h3>

<p class="pl-3">
    <a target="_blank" href="{{ url('client_index') }}" class="text-underline"><i class="fas fa-link mr-1"></i>Liste des clients</a>
    <br>
    Pour créer des clients, rendez-vous dans la <a href="{{ url('client_index') }}" class="text-underline">liste de clients</a>, puis cliquer sur <a href="{{ url('client_new') }}" class="btn btn-outline-success btn-sm" target="_blank">Ajouter un client</a>.<br>
    Remplissez les informations du client. L'&laquo; Image entête &raquo; servira d'entête des PDF qui seront imprimés sous le nom de ce client (notamment pour les bons d'entretien).
</p>

<h4 class="pl-3 mt-4" id="doc_client__dossier_client">Dossier client</h4>
<p class="pl-5">
    Le dossier du client regroupe toutes les informations, activités, factures liées à un client. Pour y accéder, rendez-vous dans la <a class="text-underline" href="{{ url('client_index') }}">liste de clients</a>, puis cliquer sur le client souhaité.<br>
    Vous arrivez alors sur les informations du client.<br>
    <br>
    Dans le menu de gauche se trouvent les liens vers les informations générales du client, les <a href="#doc_charges_affaires" class="text-underline">chargés d'affaires</a>, les activités (Livraisons, dépannages, entretien et travaux), et les factures. Dans la documentation, ces liens dans le menu seront appelés des &laquo; onglets &raquo;.
</p>

<h4 class="pl-3 mt-4">Modifier les informations d'un client</h4>
<p class="pl-5">
    Pour modifier un client, rendez-vous dans le dossier d'un client. Puis dans les informations générales, cliquez sur
    <button type="button" class="btn btn-outline-warning btn-sm">Modifier</button>
    .<br>
    Changez les informations que vous souhaitez puis enregistrez les modifications en cliquant sur le bouton
    <button type="button" class="btn btn-primary btn-sm">Enregistrer</button>
    .
</p>

<hr>