<h3 id="doc_messagerie" class="mt-5">Comptes de messagerie</h3>

<p class="pl-3">
    <a target="_blank" href="https://web47.lws-hosting.com:2083/cpsess9814660693/frontend/paper_lantern/email_accounts/index.html?login=1&post_login=61697887782641#/list" class="text-underline"><i class="fas fa-link mr-1"></i>Cpanel - Gestion des comptes de messagerie</a>
    <br>
    Vous pouvez créer/gérer des comptes de messagerie en &laquo; @co2services.fr &raquo;.
</p>

<h4 class="pl-3 mt-4" id="doc_client__dossier_client">Créer un compte de messagerie</h4>
<p class="pl-5">
    Pour créer un nouveau compte de messagerie (ou en modifier un existant), rendez-vous sur la plateforme cPanel, rubrique <a target="_blank" href="https://web47.lws-hosting.com:2083/cpsess9814660693/frontend/paper_lantern/email_accounts/index.html?login=1&post_login=61697887782641#/list" class="text-underline">Comptes de messagerie</a>.<br>
    Connectez-vous avec les identifiants fournit dans la documentation des informations techniques fournit lors de la livraison du projet de l'outil.<br>
    Puis pour créer un compte, cliquez sur &laquo; Créer &raquo; (en haut à droite du tableau).<br>
    Le domaine, laissez &laquo; co2services.fr &raquo;<br>
    Le nom d'utilisateur sera avant le &laquo; @ &raquo; (ex : &laquo; toto &raquo; donnera : &laquo; toto@co2services.fr &raquo;).<br>
    Vous pouvez choisir de définir le mot de passe maintenant, ou de renseigner un email auquel envoyer un lien afin de définir le mot de passe.<br>
    L'espace de stockage à 1024Mo est correct (1 giga)<br>
    Et enfin, cliquez sur &laquo; Créer &raquo;.
</p>

<h4 class="pl-3 mt-4">Configurer la boite mail sur un iPhone ou un Mac</h4>
<p class="pl-5">
    <a target="_blank" href="https://support.apple.com/fr-fr/HT201320" class="text-underline"><i class="fas fa-link mr-1"></i>Apple - Configurer un nouveau compte de messagerie</a>
    <br>
    Pour ajouter votre compte de messagerie @co2services.fr sur votre appareil mobile, renseignez les informations suivantes : <br>
    <br>
    Nom d'utilisateur : toto@co2services.fr <em>(votre adresse mail)</em><br>
    Mot de passe : <em>Utilisez le mot de passe du compte de messagerie.</em><br>
    Serveur entrant (IMAP) : mail.co2services.fr<br>
    Port IMAP : 993<br>
    Serveur sortant (SMTP) : mail.co2services.fr<br>
    Port SMTP : 465<br>
</p>

<hr>