<nav id="sidebar" class="border-right">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h5 class="font-weight-normal text-center">Documentation</h5>
    </div>

    {#            <!-- Sidebar Links -->#}
    {#            <ul class="list-unstyled components">#}
    {#                <li class="active"><a href="#">Home</a></li>#}
    {#                <li><a href="#">About</a></li>#}
    {#                <li><!-- Link with dropdown items -->#}
    {#                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>#}
    {#                    <ul class="collapse list-unstyled" id="homeSubmenu">#}
    {#                        <li><a href="#">Page</a></li>#}
    {#                        <li><a href="#">Page</a></li>#}
    {#                        <li><a href="#">Page</a></li>#}
    {#                    </ul>#}
    {#                <li><a href="#">Portfolio</a></li>#}
    {#                <li><a href="#">Contact</a></li>#}
    {#            </ul>#}

    <ul class="nav nav-pills d-flex w-100 flex-column justify-content-start ">

        <li class="nav-item mr-0">
            <a class="nav-link" href="#doc_tableauBord">Tableau de bord</a>
        </li>
        <li class="nav-item mr-0">
            <a class="nav-link" href="#doc_tableauBord">Clients</a>
            <a class="nav-link" href="#doc_charges_affaires">Chargés d'affaires</a>
        </li>
        <li class="nav-item mr-0">
            <a class="nav-link" href="#doc_techniciens">Techniciens</a>
        </li>
        <li class="nav-item mr-0">
            <a class="nav-link dropdown-toggle collapse" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Réglages</a>
            <div class="collapse list-unstyled dropdown bg-primary" id="homeSubmenu">
                <a href="#doc_reglages__enseignes" class="dropdown-item text-white pl-4">Enseignes</a>
                <a href="#doc_reglages__niveaux_techniciens" class="dropdown-item text-white pl-4">Niveau technicien</a>
                <a href="#doc_reglages__departements_livraisons" class="dropdown-item text-white pl-4">Départements de livraison</a>
                <a href="#doc_reglages__tarifs_livraisons" class="dropdown-item text-white pl-4">Tarifs livraison</a>
                <a href="#doc_reglages__envoi_sms" class="dropdown-item text-white pl-4">Envoi de SMS</a>
                <a href="#doc_reglages__forfait_retour_bouteille" class="dropdown-item text-white pl-4">Forfait retour bouteilles</a>
            </div>
        </li>
        {#        <li class="nav-item mr-0">#}
        {#            <a class="nav-link dropdown-toggle collapse" href="#entretienSubmenu" data-toggle="collapse" aria-expanded="false">Entretien</a>#}
        {#            <div class="collapse list-unstyled dropdown bg-primary" id="entretienSubmenu">#}
        {#                <a href="#" class="dropdown-item text-white pl-4">Nouveau</a>#}
        {#                <a href="#" class="dropdown-item text-white pl-4">Liste</a>#}
        {#                <a href="#" class="dropdown-item text-white pl-4">Modifier</a>#}
        {#                <a href="#" class="dropdown-item text-white pl-4">Annuler</a>#}
        {#                <a href="#" class="dropdown-item text-white pl-4">Facturer</a>#}
        {#                <a href="#" class="dropdown-item text-white pl-4">Statuts</a>#}
        {#                <a href="#" class="dropdown-item text-white pl-4"></a>#}
        {#            </div>#}
        {#        </li>#}
        {#        <li class="nav-item mr-0">#}
        {#            <a class="nav-link " href="#">Livraisons</a>#}
        {#        </li>#}
        {#        <li class="nav-item mr-0">#}
        {#            <a class="nav-link " href="#">Dépannages</a>#}
        {#        </li>#}
        {#        <li class="nav-item mr-0">#}
        {#            <a class="nav-link " href="#">Travaux</a>#}
        {#        </li>#}
        <li class="nav-item mr-0">
            <a class="nav-link " href="#doc_stats_activites">Statuts des activités</a>
        </li>

        <li class="nav-item mr-0">
            <a class="nav-link " href="#doc_messagerie">Comptes de messagerie</a>
        </li>

    </ul>
</nav>