<h3 id="doc_reglages" class="mt-5">Réglages</h3>

<p class="pl-3">
    Cette section vous permettra de paramétrer l'outil afin de l'exploiter au meilleur de ses capacités.
</p>

<div class="pl-3">

    {% include 'documentation/admin/include/reglages/_enseignes.html.twig' %}
    {% include 'documentation/admin/include/reglages/_niveaux_techniciens.html.twig' %}
    {% include 'documentation/admin/include/reglages/_departements_livraisons.html.twig' %}
    {% include 'documentation/admin/include/reglages/_tarifs_livraisons.html.twig' %}
    {% include 'documentation/admin/include/reglages/_envoi_sms.html.twig' %}
    {% include 'documentation/admin/include/reglages/_forfait_retour_bouteille.html.twig' %}

</div>

{#<hr>#}