<h3 id="doc_techniciens" class="mt-5">Techniciens</h3>

<p class="pl-3">
    <a target="_blank" href="{{ url('technicien_index') }}" class="text-underline"><i class="fas fa-link mr-1"></i>Liste des techniciens</a><br>
    La gestion des techniciens se fait à partir de l'onglet &laquo; Techniciens &raquo;.<br>
</p>

<h4 class="pl-3 mt-4" id="doc_charges_affaires__new">Créer un technicien</h4>
<p class="pl-5">
    Dans la liste des techniciens, cliquez sur
    <button class="btn btn-outline-success btn-sm">Nouveau technicien</button>
    <br>
    Saisissez les informations du nouveau technicien. L'email pro doit être unique dans tout le site de gestion (Email de connexion). Sélectionnez son niveau de technicien. Il servira de référence pour son tarif horaire.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    . Le nouveau technicien recevra un email (à l'email pro saisie) pour lui informer de la création de son compte et également définir son mot de passe.
</p>

<h4 class="pl-3 mt-4" id="doc_charges_affaires__edit">Modifier un technicien</h4>
<p class="pl-5">
    Dans la liste des techniciens, cliquez sur le technicien à modifier. Vous arrivez alors sur la fiche du technicien.<br>
    Cliquez sur
    <button class="btn btn-outline-warning btn-sm">Modifier</button>
    . Modifiez les informations que vous souhaitez.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .
</p>

<h4 class="pl-3 mt-4" id="doc_charges_affaires__edit">Désactiver le compte d'un technicien</h4>
<p class="pl-5">
    Vous pouvez choisir de restreindre la connexion d'un technicien. Il ne pourra plus se connecter.<br>
    <br>
    Dans la liste des techniciens, cliquez sur le technicien à modifier. Vous arrivez alors sur la fiche du technicien.<br>
    Cliquez sur
    <button class="btn btn-outline-warning btn-sm">Modifier</button>
    . Décochez la case &laquo; compte actif &raquo;.<br>
    Une fois la saisie terminée, cliquez sur
    <button class="btn btn-primary btn-sm">Enregistrer</button>
    .
</p>

<hr>